.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}


.App-header {
  background-color: #420420;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #696969;
}

.App-link {
  color: #696969;
}

.sidebar {
  max-width: 240px;
  background-color: #696969;
  font-style: italic;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-subitem-text {
  font-size: 0.8rem;
}